body {
	background-color: #FFFFFF;
	color: #73879C !important;
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

.ui-state-error,.ui-state-error .ui-state-error{
	border: 0px;
}

#leftPanel {z-index:2 !important; }

#leftPanel div{overflow:visible;}